.container {
    width: 446px;
    height: 175px;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
    margin: 0 auto;
    border: 3px solid #1ED760;
    border-radius: 65px
}

.container svg {
    width: 97px;
    height: 98x;
}

.container svg:hover {
    cursor: pointer;
    transform: translateY(-10px);
    fill: rgba(17, 129, 241, 1);
}

 .container svg path:hover {
    fill: rgba(17, 129, 241, 1);
  }