.logo {
    width: 140px;
    height: 45px;
    padding: 55px 0 0 35px;

}

.title{
font-size: 64px;
font-weight: 600;
text-align: center;
padding-top: 110px;

}

.signin{
font-size: 32px;
font-weight: 700;
text-align: center;
padding-top: 30px;
padding-bottom: 31px;

}